@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* || GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    margin: 0 auto;
}

/* || TYPOGRAPHY */

h1 {
    font-size: 2.5rem;
    font-family: "EB Garamond", serif;
/*    font-weight: bold;*/
    font-style: italic;
    text-shadow: 1px 1px 3px gray;
}

h2 {
    font-size: 1.5rem;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
}

p, a {
    font-family: "Poppins", sans-serif;
}

/* || Header and Main Navigation */

header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    color: white;
}

/* Background */

#header-home {
    background-image: url(images/rumman-amin-s3o2rkTkF7I-unsplash.jpg);
    background-position: center;
}

#header-rooms {
    background-image: url(/images/mariah-hewines-vkpAxE0InJ0-unsplash.jpg);
    background-position: bottom center;
}

#header-activities {
    background-image: url(/images/woman-6803845.jpg);
    background-position: bottom center;
}

#header-dining {
    background-image: url(/images/ricardo-jimenez-Kzft6vrwRoM-unsplash.jpg);
    background-position: center;
}

#header-spa {
    background-image: url(/images/pexels-john-tekeridis-21837-3212164.jpg);
    background-position: center;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem;
    background-color: rgb(0, 0, 0, 0.05);
}

#logo-container img {
    max-width: 150px;
}

#weather-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1rem 0.5rem;
    box-shadow: 1px 1px 3px gray;
    border-radius: 8px;
    background-color: rgb(211, 211, 211, 0.1);
    font-size: 1rem;
}

#weather-widget img {
    margin: -0.7rem;
    max-width: 50px;
}

#hamburger {
    border: none;
    background: none;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 2.5px;
    background-color: #ecf0f1;
    display: block;
    margin: 6px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(8.5px) rotate(45deg);
    -ms-transform: translateY(8.5px) rotate(45deg);
    -o-transform: translateY(8.5px) rotate(45deg);
    transform: translateY(8.5px) rotate(45deg);
}
  
#hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-8.5px) rotate(-45deg);
    -ms-transform: translateY(-8.5px) rotate(-45deg);
    -o-transform: translateY(-8.5px) rotate(-45deg);
    transform: translateY(-8.5px) rotate(-45deg);
}

nav {
    position: absolute;
    z-index: 100;
    top: 100%;
    right: 0;
    display: none;
    width: 100%;
    backdrop-filter: blur(10px);
}

nav.active {
    display: block;
    height: 100vh;
    text-decoration: none;
}

nav li {
    list-style: none;
}

nav li a {
    display: block;
    border-top: 0.5px solid white;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

#hero {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
}

main {
    position: absolute;
}

main img {
    max-width: 850px;
}

.text-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
    padding: 0 3rem;
}

.text-image div {
    flex: 38%;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.text-image img {
    max-width: 61.8%;
    aspect-ratio: 850 / 531;
    object-fit: cover;
}

/* Menu Buttons */
#menu {
    position: relative;
    top: 2rem;
}

menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.tab-links {
    border: none;
    font-size: 2rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
    background-color: inherit;
    cursor: pointer;
}

.active {
    text-decoration: underline;
}

.tab-content {
    display: none;
}

.tab-content ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.5rem;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    list-style: inside circle;
}


#options {
    background-color: aliceblue;
}

/* || MEDIA QUERIES */

/* Tablet */
@media screen and (min-width: 480px) {

    /* Typography */
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    
    /* Header & Nav */
    #logo-container {
        order: -1;
    }
    #weather-widget {
        flex-direction: row-reverse;
        gap: 0.5rem;
        padding: 0.5rem;
    }
    #button-container {
        display: flex;
        justify-content: flex-end;
        width: 150px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {

    /* Typography */
    h1 {
        font-size: 4rem;
    }
    
    /* Header & Nav */
    nav {
        width: 35%;
        transition: 0.3s ease-in-out;
    }
    nav li a {
        text-align: right;
    }
    #first-child {
        border-top: none;
    }
}

/* Laptop */
@media screen and (min-width: 1024px) {

    /* Typography */
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2.5rem;
    }

    /* Header & Nav */
    #logo-container img {
        max-width: 200px;
    }
    #weather-widget {
        font-size: 1.25rem;
    }
    #weather-widget img {
        max-width: 50px;
    }
    #button-container {
        display: none;
    }
    nav {
        position: static;
        display: block;
        backdrop-filter: none;
    }
    nav ul {
        display: flex;
        justify-content: right;
        gap: 1rem;
    }
    nav li a {
        border-top: none;
        padding: 0;
    }
}

@media screen and (max-width: 1024px) {

    .text-image {
        flex-direction: column;
        padding-top: 6rem;
        padding-bottom: 2rem;
    }
    .text-image div {
        flex: auto;
    }
    .text-image img {
        max-width: 100%;
    }
}

@media screen and (max-width:320px) {
    h1 {
        color: red;
    }
}

/* Min Width */
@media screen and (max-width: 320px) {
    body {
        color: red;
    }
}